$base-width-unit: 120px;

$container-max-width: calc(#{$base-width-unit} * 6);
$container-max-width--break-large: calc(#{$base-width-unit} * 4);
$container-max-width--break-medium: calc(#{$base-width-unit} * 3);
$container-max-width--break-small: calc(#{$base-width-unit} * 2);
$container-max-width--break-tiny: calc(#{$base-width-unit} * 1);






